body {
  background-color: #000;
  font-family: 'Montserrat', helvetica, sans-serif;
  color: #fff;
}

h2, h3, h4 {
  color: #fff;
}

.type-text {
  font-family: 'Montserrat', helvetica, sans-serif;
  color: #fff;
  font-size: 20pt;
  line-height: 1.5;
  padding: 2%;
  height: 100vh;
}

.degrees {
  background-color: rgba(48, 48, 48, 1);
  color: #fff;
  padding: 25px;
}

.minors {
  color: #fff;
  padding: 25px;
}

.minors li li {
  text-decoration: underline;
  cursor: pointer;
}

.modal h2 {
  color: #000;
}

.degrees>h2, .minors>h2 {
  text-align: center;
}

.faculty, .staff {
  text-align: center;
  font-family: 'Montserrat', helvetica, sans-serif;
  color: #fff;
  font-size: 12pt;
  height: 100vh;
  display: block;
  margin-bottom: 400px;
}

.staff {
  margin-bottom: 0px;
}

.faculty-member {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 175px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.faculty-member .person-info {
  position: absolute;
  height: 200px;
  width: 175px;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 8pt;
  text-align: center;
  padding: 100px 10px 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.research {
  padding: 0 50px 50px;
  margin: 0 50px 50px;
}

.statistics {
  padding: 0 50px 50px;
  margin: 0 50px 50px;
  color: #fff;
}

.stats-block {
  width: 22%;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 30px;
  height: 300px;
  display: inline-block;
  vertical-align: text-top;
}

.stats-block strong {
  text-align: center;
  display: block;
  font-size: 50px;
}

.stats-block:last-of-type strong {
  font-size: 30px;
  line-height: 50px;
}

.map {
  text-align: center;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto 25px;
}

.news-contact {
  padding: 50px 10px;
  background-color: rgba(48, 48, 48, 1);
  color: #fff;
}

.contact, .news {
  display: inline-block;
  width: 48%;
  vertical-align: text-top;
}

.news {
  max-height: 500px;
  overflow: scroll;
  margin: 2em 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 25vh;
  background-color: rgba(48, 48, 48, 1);
  font-size: 8pt;
  color: #fff;
  padding: 50px 10px;
  box-sizing: border-box;
}

footer>div {
  display: inline-block;
  width: 33%;
  vertical-align: text-top;
  text-align: center;
}

footer a {
  color: #fff;
}

.social ul {
  padding: 0;
  margin: 0;
}

.social-icon {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.social-icon:last-of-type {
  margin-right: 0;
}

.social-icon a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 1px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  text-indent: -9999px;
}

.social-icon.icon--facebook a {
  background-image: url(../img/facebook-icon.png);
  background-color: #3b5998;
}

.social-icon.icon--twitter a {
  background-image: url(../img/twitter-icon.png);
  background-color: #00aced;
}
